name: Gradle CI

on:
  push:
    branches:
      - renovate/**
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  # Basic Gradle wrapper validation. This step is run first, due to security
  # concerns. Running our whole pipeline with Gradle with a corrupt wrapper,
  # could expose our secrets, and we definitely want to prevent this.
  validation:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: Gradle wrapper validation
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4

  # Basic Compliance check. Checks if codeStyle is correct and if reuse
  # is applied correctly
  compliance:
    runs-on: ubuntu-latest
    name: Compliance check
    needs: validation
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@bb774aa972c2a89ff34781233d275075cbddf542 # v5
      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: 17
          distribution: 'sapmachine'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      - name: Check code style
        run: ./gradlew spotlessCheck

  # One Basic check, for all kind of OS - to check if we have some kind of
  # issue with any kind of OS
  basic:
    strategy:
      matrix:
        os: [ ubuntu, macos, windows ]
    runs-on: ${{ matrix.os }}-latest
    name: on ${{ matrix.os }}
    needs: validation
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: '17'
          distribution: 'sapmachine'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      - name: Build and Test
        run: ./gradlew check -x spotlessCheck
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ failure() }}
        with:
          name: ${{ matrix.os }}-test-result
          path: |
            build/reports
            build/test-results

  # Check supported Gradle releases
  # https://gradle.org/releases/
  # https://docs.gradle.org/current/userguide/feature_lifecycle.html#eol_support
  compatibility:
    strategy:
      matrix:
        GRADLE_VERSION:
        # renovate: gradle-backwards-compatibility
        - "7.6.6"
    runs-on: ubuntu-latest
    needs: [basic, compliance]
    name: with Gradle ${{ matrix.GRADLE_VERSION }}
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup Java JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: 17
          distribution: 'sapmachine'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      - name: Build and Test
        run: ./gradlew check -x spotlessCheck
        env:
          GRADLE_VERSION: "${{ matrix.GRADLE_VERSION }}"
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ failure() }}
        with:
          name: ${{ matrix.GRADLE_VERSION }}-test-result
          path: |
            */build/reports
            */build/test-results

  publish:
    runs-on: ubuntu-latest
    needs: compatibility
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup Java JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: 17
          distribution: 'sapmachine'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      - name: Publish Plugin
        env:
          GRADLE_PUBLISH_KEY: ${{secrets.PUBLISH_KEY}}
          GRADLE_PUBLISH_SECRET: ${{secrets.PUBLISH_SECRET}}
        run: ./gradlew publishPlugins
