name: Gradle CI

on:
  push:
    branches:
      - renovate/**
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  # Basic Gradle wrapper validation. This step is run first, due to security
  # concerns. Running our whole pipeline with Gradle with a corrupt wrapper,
  # could expose our secrets, and we definitely want to prevent this.
  validation:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: Gradle wrapper validation
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

  # Basic Compliance check. Checks if codeStyle is correct and if reuse
  # is applied correctly
  compliance:
    runs-on: ubuntu-latest
    name: Compliance check
    needs: validation
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6
      - name: Set up Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 17
          distribution: 'sapmachine'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Check code style
        run: ./gradlew spotlessCheck

  # One Basic check, for all kind of OS - to check if we have some kind of
  # issue with any kind of OS
  basic:
    strategy:
      matrix:
        os: [ ubuntu, macos, windows ]
    runs-on: ${{ matrix.os }}-latest
    name: on ${{ matrix.os }}
    needs: validation
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '17'
          distribution: 'sapmachine'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Build and Test
        run: ./gradlew check -x spotlessCheck
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ failure() }}
        with:
          name: ${{ matrix.os }}-test-result
          path: |
            build/reports
            build/test-results

  # Check supported Gradle releases
  # https://gradle.org/releases/
  # https://docs.gradle.org/current/userguide/feature_lifecycle.html#eol_support
  compatibility:
    runs-on: ubuntu-latest
    needs: [basic, compliance]
    name: Gradle Backwards Compatibility
    env:
      # renovate: gradle-backwards-compatibility
      GRADLE_VERSION: "8.14.4"
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Java JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 17
          distribution: 'sapmachine'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Build and Test
        run: ./gradlew check -x spotlessCheck
        env:
          GRADLE_VERSION: "${{ matrix.GRADLE_VERSION }}"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ failure() }}
        with:
          name: ${{ matrix.GRADLE_VERSION }}-test-result
          path: |
            */build/reports
            */build/test-results

  publish:
    runs-on: ubuntu-latest
    needs: compatibility
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Java JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: 17
          distribution: 'sapmachine'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Publish Plugin
        env:
          GRADLE_PUBLISH_KEY: ${{secrets.PUBLISH_KEY}}
          GRADLE_PUBLISH_SECRET: ${{secrets.PUBLISH_SECRET}}
        run: ./gradlew publishPlugins
